<!DOCTYPE html>
<html lang="en" if="twitter-wjs">

<head>
  <title>CloudBoost for Enterprise</title>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Enterprise" />
  <meta name="description" content="CloudBoost Enterprise. Free plan to begin with and pay as you go as you scale.">
  <meta name="keywords" content="pricing, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
  <meta name="fragment" content="!" />
  <!--common head links-->
  <% include ./partials/commonHead %>
</head>

<body>
  <section class="contact-headline-bg">
    <!--header-->
    <header id="header" class="header">
      <% include ./partials/header %>
    </header>

    <!--Content-->
    <!--********************************************************************************************-->
    <!-- ******Contact Section****** -->
    <section class="contact-section section section-on-bg development-service">
      <div class="container">
        <center>
          <h1 style="color:white; font-size:44px; font-family: 'Signika', sans-serif; font-weight: 300;">
            <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">CloudBoost for Enterprise.</span>
          </h1>

          <div style="margin-bottom:70px;">
            <h3 style="color:white; font-size:30px; font-family: 'Signika', sans-serif; font-weight: 300;">
              <span style="color:#b1d8ec; font-family: 'Signika', sans-serif; font-weight: 300;">Join thousands of buisnesses who use CloudBoost to build better software faster.</span>

            </h3>
          </div>

          <a id="home-footer-signup-btn" href="/enterprise/demo" class="whiteButton">
              &nbsp;&nbsp;Schedule a Demo&nbsp;&nbsp;
          </a>

        </center>
      </div>
      <!--//container-->
    </section>

  </section>
  <section id="comps-logo-section">

    <div class="flex-general-column-wrapper-center comps-usingus-div" style="background-color:#F2F3F4; width:100%; height: 140px;">
      <span style="margin-bottom:25px;font-family: 'Signika', sans-serif;color: #909090;">We work with world's biggest enterprises and help them cut software development costs in half.</span>
      <div class="flex-general-row-wrapper comps-usingus-wrapper">
        <div class="comps-usingus-bx" style="height: 31px;margin-top: -4px;">
          <img src="/images/sony.jpg" style="height: 100%;" alt="Customers : Sony">
        </div>

        <div class="comps-usingus-bx" style="height: 22px;">
          <img src="/images/bank-of-america.png" style="height: 100%;" alt="Customers : Bank of America">
        </div>

        <div class="comps-usingus-bx" style="height: 30px;">
          <img src="/images/adobe.png" style="height: 100%;" alt="Customers : Adobe">
        </div>

        <div class="comps-usingus-bx logo-height" style="height: 80px;
margin-top: -25px;">
            <img class="full-height" src="/images/hershey-logo.png" alt="Customers : Hershey">
        </div>

        <div class="comps-usingus-bx" style="height: 30px;">
          <img src="/images/cocacola.png" style="height: 100%;" alt="Customers : CocaCola">
        </div>
        <div class="comps-usingus-bx" style="height: 15px;">
        </div>
      </div>
    </div>
  </section>
  <section class="premium-options section why">
    <div class="container">
      <div class="row text-center">
        <h1 class="title">No Backend or Ops team.</h1>
        <p>Building software on CloudBoost means you don't have to hire a backend or ops team. CloudBoost completely automates all of that saving you more than 50% of the software development cost and time.</p>
        <div class="row no-margin">
          <div class="col-xs-12 col-md-6">
            <div class="media card">
              <div class="media-left media-middle">
                <img alt="Cut Software Development Cost" src="images/software.svg" style="height:75px">
              </div>
              <div class="media-body text-left" style="padding-left:10px">
                <h3 style="color: #6d6d6d;font-size: 20px;">Cut more than half of software dev cost.</h3>
                <p class="text-muted" style="font-size:16px">
                  CloudBoost take care of the backend, ops and infrastructure - so you hire fewer engineers &amp; and save more than 50% in software development costs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="media card">
              <div class="media-left media-middle">
                <img alt="Digital Transformation" style="height:75px" src="images/database (1).svg">
              </div>
              <div class="media-body text-left" style="padding-left:10px">
                <h3 style="color: #6d6d6d;font-size: 20px;">Digital transformation for enterprise.</h3>
                <p class="text-muted" style="font-size:16px">
                  CloudBoost integrates with most of the legacy enterprise systems helping you move out of them and transform your digital strategy.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-xs-12 col-md-6">
            <div class="media card">
              <div class="media-left media-middle">
                <img alt="Understand customers" src="images/chatting.svg" height="75px">
              </div>
              <div class="media-body text-left" style="padding-left:10px">
                <h3 style="color: #6d6d6d;font-size: 20px;">Understand customer engagement</h3>
                <p class="text-muted" style="font-size:16px">
                  Understand how your customer engages with your app with analytics, we also sync directly to salesforce.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="media card">
              <div class="media-left media-middle">
                <img alt="Move faster" src="images/fast-forward.svg" height="75px">
              </div>
              <div class="media-body text-left" style="padding-left:10px">
                <h3 style="color: #6d6d6d;font-size: 20px;">Move faster than competition.</h3>
                <p class="text-muted" style="font-size:16px">
                  Backend automation let's you only focus on your customer experiences and ship software twice as fast.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-xs-12 col-md-6">
            <div class="media card">
              <div class="media-left media-middle" style="padding-left:10px">
                <img alt="UTrust and Control" src="images/controls.svg" height="75px">
              </div>
              <div class="media-body text-left">
                <h3 style="color: #6d6d6d;font-size: 20px;">Enterprise trust and control.</h3>
                <p class="text-muted" style="font-size:16px">
                  Develop and deploy apps with the enhanced security, collaboration tools, and scalability enterprises require.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="media card">
              <div class="media-left media-middle" style="padding-left:10px">
                <img alt="Support" src="images/support (1).svg" height="75px">
              </div>
              <div class="media-body text-left">
                <h3 style="color: #6d6d6d;font-size: 20px;">Enterprise-grade Support</h3>
                <p class="text-muted" style="font-size:16px">
                  Need more? Premium Support ensures you have someone on the phone within 30 minutes in case of major outage.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="cta" class="section cta-section text-center home-cta-section" style="min-height: 200px;">
    <div class="container letsbuildcontainer">
      <h2 class="title" style="font-family: 'Signika', sans-serif; font-weight:500;font-size:30px">CloudBoost is used by more than <b>5000 companies</b> around the world.</h2>
      <p style="color: #89c0e0;
    font-size: 19px;
    margin-top: -10px;"> More than 20,000 apps are built on the platform and we serve more than 75 million requests everyday.</p><br/>
    </div>
  </section>

  <section class="trusted-by section why">
    <div class="container">
      <div class="row text-center">
        <h1>Trusted by Companies Around The World</h1>

        <div class="flex-general-column-wrapper-center comps-usingus-div" style="margin-top:40px;">
          <div class="flex-general-row-wrapper comps-usingus-wrapper">
            <div class="comps-usingus-bx" style="height: 31px;margin-top: -4px;">
              <img src="/images/sony.jpg" style="height: 100%;" alt="Customers : Sony">
            </div>
            <div class="comps-usingus-bx" style="height: 22px;">
              <img src="/images/bank-of-america.png" style="height: 100%;" alt="Customers : Bank of America">
            </div>
            <div class="comps-usingus-bx" style="height: 30px;">
              <img src="/images/adobe.png" style="height: 100%;" alt="Customers : Adobe">
            </div>
            <div class="comps-usingus-bx" style="height: 30px;">
              <img src="/images/fedex.png" style="height: 100%;" alt="Customers : FedEx">
            </div>
            <div class="comps-usingus-bx" style="height: 30px;">
              <img src="/images/cocacola.png" style="height: 100%;" alt="Customers : CocaCola">
            </div>
          </div>
        </div>
        <div class="flex-general-column-wrapper-center comps-usingus-div" style="margin-top:40px;">
          <div class="flex-general-row-wrapper comps-usingus-wrapper">
            <div class="comps-usingus-bx" style="height: 50px;margin-top: -4px;">
              <img src="/images/rr.png" style="height: 100%;" alt="Customers : RedRobins">
            </div>
            <div class="comps-usingus-bx" style="height: 50px;">
              <img src="/images/us.png" style="height: 100%;" alt="Customers : UbiSoft">
            </div>
            <div class="comps-usingus-bx" style="height: 45px;">
              <img src="/images/nyt.png" style="height: 100%;" alt="Customers : New York Times">
            </div>
            <div class="comps-usingus-bx" style="height: 45px;">
              <img src="/images/hershey-logo.png" style="height: 80px;
    margin-top: -25px;" alt="Customers : Hersheys">
            </div>
            <div class="comps-usingus-bx" style="height: 45px;">
              <img src="/images/hbo.jpg" style="height: 100%;" alt="Customers : HBO">
            </div>
          </div>
        </div>
        <div class="flex-general-column-wrapper-center comps-usingus-div" style="margin-top:40px;">
          <div class="flex-general-row-wrapper comps-usingus-wrapper">
            <div class="comps-usingus-bx" style="height: 50px;margin-top: -4px;">
              <img src="/images/sk.png" style="height: 100%;" alt="Customers : Sk Telecom">
            </div>
            <div class="comps-usingus-bx" style="height: 50px;">
              <img src="/images/kk.png" style="height: 100%;" alt="Customers : Kakao Bank">
            </div>
            <div class="comps-usingus-bx" style="height: 50px;">
              <img src="/images/ms.png" style="height: 100%;" alt="Customers : Movistar">
            </div>
            <div class="comps-usingus-bx" style="height: 45px;">
              <img src="/images/tf.png" style="height: 100%;" alt="Customers : Telefonica">
            </div>
            <div class="comps-usingus-bx" style="height: 45px;">
              <img src="/images/ss.png" style="height: 100%;" alt="Customers : Shake Shack">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-general-column-wrapper-center" style="width:100%;padding-top:2px;padding-bottom:16px;margin-top:20px;margin-bottom:20px"><div class="flex-general-column-wrapper-center" style="position:relative !important;width:100%"><div class="flex-general-column-wrapper-center" style="cursor:pointer !important;z-index:99999;width:160px;width:100%;bottom:-20px"><a href="/partners" target="_blank" style="font-size:16px !important;cursor:pointer !important">We also partner with agencies <i class="fa fa-arrow-right"></i></a></div></div></div>

  </section>

  <section class="resources-list">

    <div class="container">
      <div class="row text-center">
        <% if(resourceList.length) {%>
          <section id="" class="cb-tutorials">
            <div class="container bx-list">
              <!--Heading-->
              <div class="tut-heading flex-general-column-wrapper-center" style="margin-bottom:30px !important;">
                <h1 style="color:#737373; font-family:Signika, sans-serif; font-weight: 700; ">Whitepapers &amp; Case-studies</h1>
                <span style="margin-top:10px; color:#737373; font-family: Signika, sans-serif; font-weight: 300; ">Covering topics such as architecture, security, and economics. <br/>These are authored by the CloudBoost team, independent analysts, or customers. </span>
              </div>
              <!--Boxes-->
              <div class="tut-bx-wrapper flex-general-row-wrapper">
              <% for(var i =0; i < resourceList.length; i++) { %>

                  <!--******BOX*******-->
                  <div style="position:relative; margin-top:20px; margin-bottom:5px;">
                    <div class="tut-bx-container" data-boxid="datastr<%= resourceList[i].order %>">
                      <div class="tut-name">
                        <h3 class="flex-general-column-wrapper-center" style="margin-top:30px;color:#737373; font-family: Signika, sans-serif; font-weight: 300; font-size:22px; ">
                          <%= resourceList[i].title %>
                        </h3>
                      </div>
                      <div class="tut-desc">
                        <div class="flex-general-column-wrapper-center">
                          <span style="color:#737373; font-family: Signika, sans-serif; font-weight: 300; font-size:15px">  <%= resourceList[i].description %></span>
                        </div>
                      </div>
                      <div class="tut-labels flex-general-row-wrapper-center" style="margin-top:30px;">
                        <div class="flex-general-row-wrapper" style="width:85%; color:#737373;">
                          <div class="flex-equal-ratio-items flex-general-row-wrapper-center">
                            <i class="fa fa-user" style="color:#BEB7BF !important"></i>
                            <span style="color:#BEB7BF !important">&nbsp;<%= resourceList[i].readerRole %></span>
                          </div>
                          <div class="flex-equal-ratio-items flex-general-row-wrapper-center">
                            <i class="fa fa-clock-o" style="color:#BEB7BF !important"></i><span style="color:#BEB7BF !important">&nbsp;<%= resourceList[i].howLong %></span>
                          </div>
                        </div>
                      </div>
                      <div style="border-top:1px solid #BCBABA;margin-top:25px;"></div>
                      <div class="tut-prog-langs" style="margin-top:5px;">
                        <div class="flex-general-column-wrapper-center" style="margin:0;">
                          <span style="margin:0;color:#BCBABA;">Available in</span>
                        </div>
                        <div class="prog-lang-list flex-general-column-wrapper-center">
                          <div class="flex-general-row-wrapper" style="margin-top:-4px;">
                            <div class="flex-equal-ratio-items langIcon">
                              <i class="fa fa-file-pdf-o fa-lg"></i>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="datastr<%= resourceList[i].order %>" class="tut-bx-container-gray-bx flex-general-column-wrapper-center animated fadeIn" style="visibility: hidden;">
                      <a href="/enterprise/resources/<%= resourceList[i].type %>/<%= resourceList[i].slug %>" target="_blank" class="btn tut-view-btn" style="display: initial;">
                        <p style="margin-top:3px;">View</p>
                      </a>
                    </div>
                  </div>
          <% } %>
          </div>
        </div>
      </section>
        <% } else { %>
          <h4 class="no-resource" style="font-weight:100;color:#b5b5b5">Oops, we're having problems retrieving reosurces from the server. </h4>
        <% } %>
      </div>
    </div>

    <div class="flex-general-column-wrapper-center" style="width:100%;padding-top:2px;padding-bottom:16px;margin-top:20px;margin-bottom:20px"><div class="flex-general-column-wrapper-center" style="position:relative !important;width:100%"><div class="flex-general-column-wrapper-center" style="cursor:pointer !important;z-index:99999;width:160px;width:100%;bottom:-20px"><a href="/enterprise/resources" target="_blank" style="font-size:16px !important;cursor:pointer !important">Check out more reosurces <i class="fa fa-arrow-right"></i></a></div></div></div>

  </section>



  <section id="cta" class="section cta-section text-center home-cta-section">
    <div class="container letsbuildcontainer">
        <h4 class="title" style="margin: 0px;
        padding: 0px;
        font-size: 15px; font-weight:400;color:#b1d8ec;"><b>AVAILABLE TO ENTERPRISE CUSTOMERS ONLY</b></h4>
        <h2 class="title" style="margin:30px; font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Premium Options</h2>
        <p class="intro"> CloudBoost Enterprise provides a simple, easy to use, and powerful set of features to manage your enterprise application development processes, resources, and users.</p><br/>
        <section>
          <div style="overflow:auto">
            <div class="col-sm-6 premium-summary">
              <ul class="media-list p-xlarge">
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/inf.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;margin-bottom:0px">Unlimited Scale</p>
                    <p class="color-white" style="text-align:left">Unlimited Apps and data. When you scale, cloudboost scales with you. </p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/artificial-intelligence.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Install anywhere</p>
                    <p class="color-white" style="text-align:left">Install on any cloud and on any server. We're containerized and can run on any infrastructure.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/user.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Dedicated Solutions Architect</p>
                    <p class="color-white" style="text-align:left">CloudBoost Solutions Architects to guide you through application architecture design, and more.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/success.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Enterprise-class SLA</p>
                    <p class="color-white" style="text-align:left">Benefit from a 99.99% SLA by letting us manage CloudBoost on your cloud for you.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/jigsaws.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Intergrations</p>
                    <p class="color-white" style="text-align:left">Integrate with over 300+ enterprise apps like SalesForce, SAP, Oracle and more.</p>
                  </div>
                </li>
              </ul>

            </div>




            <div class="col-sm-6 premium-summary">

              <ul class="media-list p-xlarge">
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/id-card.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">SSO for your apps</p>
                    <p class="color-white" style="text-align:left">Use your Identity Provider of choice, like Salesforce Identity, Okta, PingOne, Microsoft Active Directory, and more.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/team.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Team and user administration</p>
                    <p class="color-white" style="text-align:left">Manage team members and collaborators from a single dashboard across applications.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/support.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Enterprise-grade Support</p>
                    <p class="color-white" style="text-align:left">Upgraded 30-minute Support Service Level Agreements for faster resolution.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/vault.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;margin-bottom:0px">Encryption at rest.</p>
                    <p class="color-white" style="text-align:left">Your data is behind firewall and completely encrypted when its on disk.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/locked.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;margin-bottom:0px">Security</p>
                    <p class="color-white" style="text-align:left">Your data is secure with client &amp; object level granular security and is secure over the wire.</p>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <div class="text-center" style="margin-bottom:60px;">
            <a href="/enterprise/demo" class="btn sign-up-btn-demo demo-btn">&nbsp;Schedule a Demo &nbsp;<i class="fa fa-arrow-right" style="font-size:20px;"></i>&nbsp;</a>
          </div>
        </section>
    </div>
  </section>


  <!--footer-->
  <footer class="footer">
    <% include ./partials/footer %>
  </footer>

  <!--scripts-->
  <% include ./partials/commonScripts %>
    <link rel="stylesheet" href="/css/enterprise.css">
    <script async type="text/javascript" src="/controllers/enterpriseController.js">

    </script>
</body>

</html>
